streamlit>=1.36

numpy
pandas
geopandas
rasterio
mercantile
aiohttp
Pillow
pyproj
tqdm
shapely
fiona
pyogrio

torch
torchvision

kagglehub

planetary-computer
pystac-client

folium
streamlit-folium

scikit-learn

matplotlib

aiofiles

requests
